/*-------body-------*/

body	{
		font-family: 'Arbutus Slab', serif;
		margin: 0 auto;
		width: 960px;
		background-color: #f4e4ae;
		}
/*-------nav-------*/			
			
h1 {
		line-height: 50px;
		padding: 0;
		background-color: #f75d00;
		width: 160px;	
		}		
		
		
#nav {
		line-height: 50px;
		background-color: #66615b;
		float: right;	
		padding: 0;
		margin: 0;
		width: 800px;
		}					
		
#nav li {
		float: left;
		margin: 0;
		padding: 0;
		text-align: center;
		width: 200px;
		}	

/*-------container-------*/	
#wrapper {
		background-color: #b79466;
		overflow: hidden;
		}
/*-------content-------*/	
.secondary-section {
		float: left;
		width: 50%;
		background-color: #b79466;
		}

.main-section {
		float: left;
		width: 50%;
		background-color: #b79466;
		}

		
#gallery li {
		display: block;
		float: left;
		width: 33%;
		}
		
#gallery {
		padding: 0;
		margin: 0;
		}
		


	